@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FAFAF8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111px;
  gap: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: white;
}

header h2 {
  font-weight: 400;
}

main {
  padding: 30px 30px 10px;
}

form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

input[type="text"] {
  min-width: 150px;
  max-width: 400px;
  color: #6B7280;
  border: 1px solid #D1D5DB;
  border-radius: 0.4rem;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
}

input[type="submit"] {
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}